# MCP submodules

[submodule "erpnext.asisaga.com"]
	path = servers/erpnext.asisaga.com
	url = https://github.com/ASISaga/erpnext.asisaga.com

[submodule "linkedin.asisaga.com"]
	path = servers/linkedin.asisaga.com
	url = https://github.com/ASISaga/linkedin.asisaga.com

[submodule "reddit.asisaga.com"]
	path = servers/reddit.asisaga.com
	url = https://github.com/ASISaga/reddit.asisaga.com

[submodule "subconscious.asisaga.com"]
	path = servers/subconscious.asisaga.com
	url = https://github.com/ASISaga/subconscious.asisaga.com
